.header
  display: flex
  align-items: center
  justify-content: center

  &__logo
    max-width: 200px

  &__item
    text-decoration: none

    &--left
      margin-right: 10px

    &--right
      margin-left: 10px
