@import './styles/reset'
@import './styles/fonts'
@import './styles/variables'

@import './styles/layout'

body
  color: $dark
  font-family: 'Tisa Sans'
  font-size: 18px
  line-height: 26px

.text-light
  color: $light

.headline
  font-family: 'Playfair Display', serif

.h1
  font-size: 63px
  line-height: 80px

.h2
  font-size: 50px
  line-height: 50px

.gradient-bg
  background: $primary-gradient

.gradient-bg-h
  background: $primary-gradient-h

.dark-bg
  background-color: $dark
